/* line 1, ../sass/style.scss */
html {
  background-color: #E8E8E8;
  margin-bottom: 50px;
}

/* line 5, ../sass/style.scss */
.clear {
  clear: both;
}

/* line 9, ../sass/style.scss */
.notes {
  width: 600px;
  margin: 0 auto;
}

/* line 13, ../sass/style.scss */
.new-note {
  margin-top: 30px;
  border-radius: 2px;
  box-shadow: 1px 1px 5px #D5D5D5;
  background-color: white;
}
/* line 20, ../sass/style.scss */
.new-note .edit-note.focus textarea {
  min-height: 4em;
}
/* line 23, ../sass/style.scss */
.new-note .edit-note.focus .edit-note-title {
  display: block;
}
/* line 26, ../sass/style.scss */
.new-note .edit-note.focus .edit-note-button {
  display: block;
}
/* line 30, ../sass/style.scss */
.new-note .edit-note .edit-note-title {
  display: none;
}
/* line 33, ../sass/style.scss */
.new-note .edit-note .edit-note-button {
  display: none;
}

/* line 38, ../sass/style.scss */
.edit-note {
  background-color: white;
  display: inline-block;
  width: 100%;
}
/* line 42, ../sass/style.scss */
.edit-note .edit-note-title {
  display: block;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 20px;
  border: 0;
  line-height: 2em;
  height: 2em;
  width: 560px;
  padding: 0;
}
/* line 54, ../sass/style.scss */
.edit-note textarea {
  background-color: transparent;
  display: block;
  overflow: hidden;
  overflow-y: hidden;
  word-wrap: break-word;
  outline: none;
  resize: none;
  margin: 10px 20px;
  border: 0;
  line-height: 2em;
  height: 2em;
  display: block;
  width: 560px;
  font-size: 14px;
  padding: 0;
}
/* line 71, ../sass/style.scss */
.edit-note .edit-note-button {
  outline: none;
  color: #444444;
  float: right;
  font-size: 0.6em;
  padding: 0.4em 2em;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: #F3F3F3;
  border: 1px solid #D8D8D8;
  border-radius: 2px;
}

/* line 85, ../sass/style.scss */
.note-wrap {
  overflow: hidden;
  background-color: white;
  width: 100%;
  margin-top: 30px;
  border-radius: 2px;
}
/* line 91, ../sass/style.scss */
.note-wrap .note-title, .note-wrap .note-content {
  display: block;
  outline: none;
  resize: none;
  margin: 10px 20px;
  border: 0;
  line-height: 2em;
}
/* line 99, ../sass/style.scss */
.note-wrap .note-title {
  font-size: 16px;
  font-weight: bold;
  height: 2em;
}
/* line 104, ../sass/style.scss */
.note-wrap .note-content {
  font-size: 14px;
}
/* line 107, ../sass/style.scss */
.note-wrap .note-date {
  font-size: 12px;
  color: #9F9F9F;
  float: left;
  margin: 10px 0 0 20px;
}

/* line 115, ../sass/style.scss */
.archive-button {
  outline: none;
  color: #444444;
  float: right;
  font-size: 0.6em;
  padding: 0.4em 2em;
  margin-top: 10px;
  background-color: #F3F3F3;
  border: 1px solid #D8D8D8;
  border-radius: 2px;
}
